---
title: Service Backups for PCF Release Notes
owner: London Services Enablement
---

## <a id="18-3-2"></a>v18.3.2

**Release Date:** September 9, 2019

### New Features

New features and changes in this release:

* Updates golang to v1.12.9

### Known Issues

There are no known issues for this release.

## <a id="18-3-1"></a>v18.3.1

**Release Date:** July 11, 2019

### New Features

New features and changes in this release:

- Updates aws-cli to v1.16.189

### Known Issues

There are no known issues for this release.

## <a id="18-3-0"></a>v18.3.0

**Release Date:** May 23, 2019

### New Features

New features and changes in this release:

- Updates golang to v1.12.5

- When a service-backup process is stopped with a SIGTERM, a test runs to check that the process termination signals the cron process manager and does not start a new backup.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
