---
title: Service Backup Release Notes
owner: London Services Enablement
---

# <a id="v17.1.2"></a>v17.1.2

## <a id="new-features"></a>New Features

- None

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Issues Resolved

- Manual backup command now works on GCP
- BOSH package names are now namespaced to avoid naming conflicts with other BOSH releases

# <a id="v17.1.0"></a>v17.1.0

This release adds support for Google Cloud Platform Cloud Storage as a backup destination.

## <a id="new-features"></a>New Features

-  Google Cloud Platform - Cloud Storage now supported as a backup destination

See the [backup destination documentation](https://docs.pivotal.io/service-backup/#backup-destinations) for more details.

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Issues Resolved

- None

---

# <a id="v17.0.0"></a>v17.0.0

## <a id="new-features"></a>New Features

- Configurable user for the Service Backup process `backup_user`.
  - If not set the process runs as `vcap`

## <a id="breaking-changes"></a>Breaking Changes

- Service Backup process now runs as `vcap` by default or configurable as described above.
  - If you rely on the process running as `root` you will need to make changes to your service.

## <a id="bug-fixes"></a>Issues Resolved

- Remove system python dependency
