---
title: Service Backups for PCF Release Notes
owner: London Services Enablement
---

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="18-4-0"></a>v18.4.0

**Release Date:** May 7, 2021

### New Features

New features and changes in this release:

- Timestamps are now logged in a human-readable format.
- Bumped Go to v1.16.3.

### Resolved Issues
- Fixed an issue where sending alerts was being attempted, even though alerting configuration was not provided.

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.
