---
title: Service Backup Release Notes
owner: London Services Enablement
---

<%= partial vars.path_to_partials + "/upgrade-planner" %>


## <a id="18-0-4"></a>v18.0.4

## <a id="new-features"></a>New Features

- None

## <a id="breaking-changes"></a>Breaking Changes

- Upgraded to use Services Alerts v0.3.0 which has a new property schema. Users with alerts enabled should update their manifests.

## <a id="bug-fixes"></a>Issues Resolved

- S3 v4 only endpoints now supported - previously caused service backups to fail when configured as a destination [18.0.4]
- System trust store CA certificates where ignored when communicating to S3 servers [18.0.2]
- Bump to Golang 1.7.4 [18.0.3]
