---
title: Service Backup Release Notes
owner: London Services Enablement
---

## <a id="release-notes"></a>v18.1.x

## <a id="new-features"></a>New Features

- Optionally specifiy `add_deployment_name_to_backup_path`.
 - If set true will include deployment name in destination path.
- Use Golang 1.8.3 in the BOSH Release [18.1.2]
- Release distributed with SHA2 checksums only [18.1.4]
- Use Golang 1.8.4 in the BOSH Release [18.1.6]

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Issues Resolved

- Service backup now will create a new S3 bucket even if endpoint_url is empty string.
- Document service-alerts in the BOSH release spec.
- When co-locating [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) or [syslog-release](https://github.com/cloudfoundry/syslog-release)
there would be duplicate log entries, as service-backup was also writing it's logs to syslog. Now ODB only writes it's logs to `/var/vcap/sys/log`, and anything syslog related
is handled by syslog-release or syslog-migration-release. [18.1.2]
- Log files in `/var/vcap/sys/log/service-backup/*` are no longer truncated when the service-backup process restarts via Monit. We reccomend using [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) to ensure logs are not lost. [18.1.3]
- Service backup now sends a [SIGTERM](index.html#preparing-files) to any running `backup_executable` when shutting down. This ensure BOSH can perform lifecycle operations without issue. [18.1.4]
- Service backup uses Python 3.6.2, resolves CVEs 159694, 159705, 160254 [18.1.5]
- Now using Python 2.7.13 that resolves CVE-2008-4108, CVE-2013-7040, CVE-2014-4616 [18.1.7]
- Fixes bug with timeout when trying to stop a service-backup process when a backup is in progress [18.1.8]
