---
title: Service Backup Release Notes
owner: London Services Enablement
---

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="16-0-0"></a>v16.0.0

## <a id="new-features"></a>New Features
- None

## <a id="breaking-changes"></a>Breaking Changes
- None

## <a id="bug-fixes"></a>Issues Resolved
- Remove system python dependency
