---
title: Service Backup Release Notes
owner: London Services Enablement
---

## <a id="17-2-0"></a> v17.2.0

## <a id="new-features"></a>

- Support for sending alerts when backups fail via CF [Notifications](https://github.com/cloudfoundry-incubator/notifications)
 - Send to everyone in particular CF Space
- Logs are now output to /var/vcap/sys/log and syslog
  - Use the [syslog BOSH](https://github.com/cloudfoundry/syslog-release) release to forward syslog

## <a id="breaking-changes"></a>Breaking Changes

- None

## <a id="bug-fixes"></a>Issues Resolved

- None
