---
title: Service Backups for PCF Release Notes
owner: London Services Enablement
---
## <a id="18116x"></a>v18.1.16

**Release Date:** December 18, 2018

### Fixed Issues

- Updates golang to v1.11.4.

## <a id="18115x"></a>v18.1.15

**Release Date:** October 5, 2018

### Fixed Issues

- Large backup artifacts can be uploaded to AWS S3.
There was a problem with the way Service Backups handled very long output from
the AWS CLI when uploading files larger than about 450MB.

- Updates golang to v1.11.1.

## <a id="18114x"></a>v18.1.14

**Release Date:** September 20, 2018

### New Features

- Updates golang to v1.11.0.

### Known issues

- Service Backup can hang indefinitely when uploading files larger than about 450MB to AWS S3

## <a id="18113x"></a>v18.1.13

**Release Date:** August 23, 2018

### New Features

- Updates golang to v1.10.3.
- You can deploy this release using a Xenial stemcell.

### Known issues

- Service Backup can hang indefinitely when uploading files larger than about 450MB to AWS S3

## <a id="18112x"></a>v18.1.12

**Release Date:** May 21, 2018

### New Features

- Cleanup commands are terminated when main process is terminated.

### Known issues

- Service Backup can hang indefinitely when uploading files larger than about 450MB to AWS S3

## <a id="18111x"></a>v18.1.11

**Release Date:** April 25, 2018

### New Features

- Updates golang v1.10.1.
- Upload commands are terminated when main process is terminated.

### Known issues

- Service Backup can hang indefinitely when uploading files larger than about 450MB to AWS S3

## <a id="18110x"></a>v18.1.10

**Release Date:** February 21, 2018

### New Features

- Uses golang v1.10 in the BOSH Release.

### Known issues

- Service Backup can hang indefinitely when uploading files larger than about 450MB to AWS S3

## <a id="1819x"></a>v18.1.9

**Release Date:** December 18, 2017

### New Features

- Outputs an error when uploading a backup to Azure fails.
- Updates blobxfer to v1.0.0.

### Fixed Issues

- Deleting a deployment with service-backup no longer fails when the service-backup job is in a stopped state.

## <a id="1818x"></a>v18.1.8

**Release Date:** December 7, 2017

### Fixed Issues

- Fixes a bug with timeout when trying to stop a service-backup process when a backup is in progress.

## <a id="1817x"></a>v18.1.7

**Release Date:** November 2, 2017

### Fixed Issues

- Uses Python v2.7.13, which resolves CVE-2008-4108, CVE-2013-7040, and CVE-2014-4616.

## <a id="1816x"></a>v18.1.6

**Release Date:** October 16, 2017

### New Features

- Use golang v1.8.4 in the BOSH Release.

## <a id="1815x"></a>v18.1.5

**Release Date:** October 6, 2017

### Fixed Issues

- Uses Python v3.6.2, which resolves CVEs 159694, 159705, and 160254.

## <a id="1814x"></a>v18.1.4

**Release Date:** September 22, 2017

### New Features

- Release distributed with SHA2 checksums only.

### Fixed Issues

- Service backup now sends a [SIGTERM](index.html#preparing-files) to any running `backup_executable` when shutting down.
This ensures BOSH can perform lifecycle operations without issue.

## <a id="1813x"></a>v18.1.3

**Release Date:** August 17, 2017

### New Features

- Log files in `/var/vcap/sys/log/service-backup/*` are no longer truncated when the service-backup process restarts via Monit.
Pivotal recommends using [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) to ensure logs are not lost.

## <a id="1812x"></a>v18.1.2

**Release Date:** July 6, 2017

### New Features

- You can specify `add_deployment_name_to_backup_path`. 
If set true, deployment name is included in destination path.
- Uses golang v1.8.3 in the BOSH Release.

### Fixed Issues

- Service backup now creates a new S3 bucket even if endpoint_url is an empty string.
- Document service-alerts are in the BOSH release spec.
- When co-locating [syslog-migration-release](https://github.com/pivotal-cf/syslog-migration-release) or
[syslog-release](https://github.com/cloudfoundry/syslog-release) there would be duplicate log entries,
as service-backup was also writing it's logs to syslog.
Now ODB only writes logs to `/var/vcap/sys/log`, and anything syslog related
is handled by syslog-release or syslog-migration-release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version,
select the version from the drop-down list at the top of this page.
