---
title: Service Backup Release Notes
owner: London Services Enablement
---

## <a id="release-notes"></a>v18.0.1

## <a id="new-features"></a>New Features

- None

## <a id="breaking-changes"></a>Breaking Changes

- Upgraded to use Services Alerts v0.3.0 which has a new property schema. Users with alerts enabled should update their manifests.

## <a id="bug-fixes"></a>Issues Resolved

- None
