---
title: Service Backups for PCF Release Notes
owner: London Services Enablement
---

## <a id="1830x"></a>v18.3.0

**Release Date:** May 17, 2019

### New Features

New features and changes in this release:

- Updates golang to v1.12.5

- Improved testing to verify the case when a service-backup process is stopped with a  SIGTERM, it should signal cron process manager and not start a new backup.


### Resolved Issues

### Known Issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version,
select the version from the dropdown at the top of this page.