---
title: Service Backup Release Notes
owner: London Services Enablement
---

<<<<<<< HEAD
## <a id="16-0-0"></a>v16.0.0
=======
<%= partial vars.path_to_partial + "/upgrade-planner" %>

## <a id="18-4-0"></a>v18.4.0
>>>>>>> 7e28720... Move partial to correct place [#171451456]

## <a id="new-features"></a>New Features
- None

## <a id="breaking-changes"></a>Breaking Changes
- None

## <a id="bug-fixes"></a>Issues Resolved
- Remove system python dependency
