---
title: Test
author: London Enablement Team

---

This is a test page

## <a id="configuration"></a>Test

The Service Backup BOSH release backs up a directory on the instance VM it is located 
on to one of several supported destination types. 
The supported destination types are AWS S3, Azure blobstore, and SCP.
